// Colors
$color-primary: #2d3051;
$color-secondary: red;
$color-orange: #ff8606;

// Fonts
$font-family-roboto-condensed: 'Roboto Condensed', sans-serif;
$font-family-caveat-brush: 'Caveat Brush', cursive;;